<li class="list-comment-item" id="comment-<%= comment.id %>-id">
  <%= link_to comment.user.name, user_path(comment.user) %>
  <%=  sanitize comment.content %>
  <% if comment.user == current_user %>
    <small><%= link_to "Delete",  comment_path(comment), method: :delete, remote: true,class: 'comment-delete-link'%></small>
  <% end %>
</li>
