<% if current_user.id != user.id %>
  <div class="row">
    <div class="col-md-3">
      <p class="index-usernames"><%= user.name %></p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
<% end %>
