    <% if current_user.id != user.id %>
        <div class="row">
          <div class="col-md-3">
            <p class="index-usernames"><%= user.name %></p>
          </div>
          <div class="col-md-4">
            <%= button_to "Add Friend", {action: 'send_request', id: user.id}, {class: "index-buttons" } %>
          </div>
        </div>

    <% end %>
