<% if !current_user.pending_friends.include?(user) && current_user != user && !current_user.pending_acceptances.include?(user)%>
  <div class="row">
    <div class="col-md-6">
      <div class="suggested-users text-center" id="suggested-user-<%= user.id %>">
        <div class="row">
          <div class="col-md-6">
            <%= link_to user.name,user,class: 'friend-style-addition' %>
          </div>
          <div class="col-md-6">
            <%= button_to "Add", { controller: 'friend_requests', action: "create"},params: {friend_id: user.id}, remote: true,class: "add-friend-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
