<%= form_for(:post, method: :post) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',class: "file-button" %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>

<% end %>
