  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <div class="text-left">
      <section>
        <%= render 'shared/post_form' %>
      </section>
      <section>
        <%= render @posts %>
      </section>
    </div>
  </div>
  <div class="col-md-6">
  </div>
