@import "bootstrap-sprockets";
@import "bootstrap";

.index-usernames{
  margin-left: 25%;
}
.index-buttons{
  margin-left: 25%;
  background: #0093ffa6;
  border: 1px solid black;
  padding: 4px 18px;
  margin-bottom: 6px;
  color: white;
}
.position-of-pages{
  margin-top: 50px;
}
